
<p>
  <h1>Name:</h1>
  <%= @restaurant.name %>
</p>

<p>
  <h1>Address:</h1>
  <%= @restaurant.address %>
</p>

<p>
  <h1>Description:</h1>
  <%= @restaurant.description %>
</p>

<p>
  <h1>Stars:</h1>
  <%= @restaurant.stars %>
</p>

<ul>
  <% @restaurant.reviews.each do |review| %>
  <li>
    <%= review.content %>
  </li>
  <% end %>
</ul>
<%= link_to "Make a Review", new_restaurant_review_path(@restaurant) %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
